<div class="card">
  <h5 class="card-header">Forgot your password?</h5>
  <div class="card-body">



    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field field-group">
    <% f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder:"Email Address", autofocus: true, autocomplete: "email" %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-warning" %>
  </div>
  <br/>
<% end %>




  </div>
</div>



<%= render "devise/shared/links" %>
