<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Youtube Video:</strong>
     <a href="<%= song.youtubevideo %>" target="_blank"><%= song.youtubevideo %></a>
  </p>

  <p>
    <strong>Lyrics:</strong>
    <a href="<%= song.lyrics %>" target="_blank"><%= song.lyrics %></a>
  </p>
      <br>
</div>