<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist %>
  </p>

  <p>
    <strong>Youtube Video:</strong>
     <%= song.youtubevideo %>  <%= link_to "Visit", song.youtubevideo, class: "btn btn-light btn-sm", target: "_blank" %>
  </p>

  <p>
    <strong>Lyrics:</strong>
     <%= song.lyrics %>  <%= link_to "Visit", song.lyrics, class: "btn btn-light btn-sm", target: "_blank" %>
    
  </p>
      <br>
</div>