<div id="songs">
<% if user_signed_in? %>

<table class="table table-light table-striped table-bordered">
<thead class="thead-dark">
<tr>
  <th scope="col">Title
  </th>
  <th scope="col">Artist</th>
  <th scope="col"></th>
  <th scope="col"></th>
</tr>

</thead>

<tbody>
 <% @songs.each do |song| %>
<% if song.user == current_user %>
  <tr>
    <th scope="row"><%= link_to song.title, song %></th>
    <td><%= song.artist %></td>
    <td><%= link_to "Youtube", song.youtubevideo, class: "btn btn-danger btn-sm", target: "_blank" %></td>
    <td><%= link_to "Lyrics", song.lyrics, class: "btn btn-warning btn-sm", target: "_blank" %></td>
  </tr> 
  <% end %>
  <% end %>
</tbody>

</table>
<%= link_to "New song", new_song_path, class: "btn btn-primary" %>
<% else %>
<div class="card">
  <h1 class="card-header">Playlist Builder</h1>
  <div class="card-body">
  
  
<p>Ones taste in music may be subjective but we can help each other good music by simply sharing our favorite songs one playlist at a timer. This app is created for music lovers who want to curate their playlists and even share it to the public or friends. This app is created using Ruby on Rails. </p> <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary" %> </div>
</div>

<% end %>

</div>




